---
---

$enable-rounded:   false;
$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome/fontawesome';
@import "variables";

/*
   Vendor
   ========================================================================== */
@import 'bootstrap/bootstrap';

///*
//   Global
//   ========================================================================== */
//
//@import "mixins";
//@import "reset";
//@import "base";
//
///*
//   Components
//   ========================================================================== */
//
//@import "helpers";
//@import "buttons";
//@import "badges";
//@import "bullets";
//@import "sliding-menu";
//@import "menu-navicons"; /* animated 3 line menu icon */
//@import "notices";
//@import "animations";
//@import "tiles";
//@import "footnotes";
//@import "toc"; /* table of contents */
//@import "breadcrumbs";
//@import "syntax";
//
///*
//   Page specific
//   ========================================================================== */
//
//@import "layout";
.btn {border-radius: 0 !important;}

$bgDefault      : #ffffff;
$bgHighlight    : #37369d;
$colDefault     : #ecf0f1;
$colHighlight   : #bbf0ff;
$dropDown       : true;

html {
  scroll-behavior: smooth;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
#main {margin-top: 1em !important;}
.sidebar {
    clear: both;
    margin-bottom: 1em;
    padding-right: 1em;
    margin-top: 2em !important;
}
nav {margin-bottom: 2em !important;}

.nav__list .nav__items {
    margin-top: 1.25em;
    font-size: 1.25rem;
}

.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault;
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}
