td.details-control {
    background: url('/static/details_open.png') no-repeat center center;
    cursor: pointer;
    padding: 7px;
}

tr.shown td.details-control {
    background: url('/static/details_close.png') no-repeat center center;
}

/* JSON output highlighted */
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

/* showing tooltip for disabled buttons */
a.btn.disabled {
    pointer-events: auto;
}

.color-red {
  color: 	#8B0000;
}

.color-blu {
  color: #547ea7;
}

.color-green {
  color: #26d63b;
}

#relevant_tweets_map {height: 400px;}
#product_map {height: 800px;}
.btn {font-size: 12px !important;}

.h4, h4 {
    font-size: 16px;
}
