pytz
mysqlclient
ujson
kafka-python==1.4.4
arrow
PyJWT
schedule
scrypt

Flask
gunicorn
connexion

flask-sqlalchemy
flask-migrate
sqlalchemy_utils
flask-cqlalchemy
flask-marshmallow
flask-jwt-extended

swagger-marshmallow-codegen

twython
langdetect
