<header>
    <nav class="navbar navbar-inverse navbar-expand-lg fixed-top" role="navigation">
      <div class="container">
      <a class="nav-link" title="home" href="{{ site.baseurl }}/">
       <img src="{{ site.baseurl }}/media/logo.png" alt="SMFR logo" />
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% assign target = '_blank' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
              {% assign target = '_self' %}
            {% endif %}

            {% if page.url contains link.url %}
              {% assign navclass = 'active' %}
            {% else %}
              {% assign navclass = '' %}
            {% endif %}

            <li class="nav-item {{ navclass }}">
              <a href="{{ domain }}{{ link.url }}" target="{{ target }}" class="navbar-text" {% if link.description %}title="{{ link.description }}"{% endif %}>
              <img alt="{{ link.title }}" src="{{ site.baseurl }}/{{ link.image }}" />  &nbsp;{{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      </div>
    </nav>
</header> <!-- /.masthead -->
