pytz
kafka-python
mysqlclient

Flask
gunicorn
connexion

flask-sqlalchemy
flask-migrate
sqlalchemy_utils
flask-cqlalchemy
flask-marshmallow

swagger-marshmallow-codegen

twython

langdetect

numpy

nose2
Flask-Testing
