arrow
kafka-python==1.4.4
cassandra-driver
mysqlclient
requests
numpy>=1.15.0
cython
Keras==2.2.4
tensorflow==1.12.0
ujson
scrypt
PassLib
pynacl
paramiko
schedule
cachetools
python-Levenshtein
fuzzywuzzy

flask
flask-sqlalchemy
flask-cqlalchemy
flask-migrate
sqlalchemy_utils
flask-alembic
PyYAML
PyJWT
gunicorn
