arrow
kafka-python
cassandra-driver
mysqlclient
requests
numpy==1.14.5
cython
flask
flask-sqlalchemy
flask-cqlalchemy
sqlalchemy_utils
ujson
PassLib
PyYAML
PyJWT
tensorflow==1.10.0
gunicorn
schedule
cachetools
python-Levenshtein
fuzzywuzzy
