arrow
kafka-python==1.4.2
cassandra-driver
mysqlclient
requests
numpy<1.15.0
cython
tensorflow==1.12.0
ujson
scrypt
PassLib
pynacl

schedule
cachetools
python-Levenshtein
fuzzywuzzy

flask
flask-sqlalchemy
flask-cqlalchemy
sqlalchemy_utils

PyYAML
PyJWT
gunicorn
