{% extends "base.html" %}

{% block app_content %}
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                <h3 class="panel-title">Admin Dashboard</h3>
              </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col col-xs-6 text-right">
                {% if fetched_events and fetched_events|length > 0 %}
                    <form method="post">

                    {% for e, v in fetched_events.items() %}
                        <em class="fas fa-plus-circle"></em>
                        <input type="checkbox" id="id_{{v.location}}" name="events" value="{{v.location}}" />
                        <label for="id_{{v.location}}">{{v.location}}</label>
                    {% endfor %}
                    <input type="submit"/>
                    </form>
                {%  else %}
                    <a href="/fetch_efas" class="btn btn-primary btn-create">
                        <em class="fas fa-plus-circle"></em>
                        Fetch last EFAS detected events
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock app_content %}
