{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
{#    <link rel="stylesheet" href="/static/hljs/styles/googlecode.css">#}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
{% endblock %}
{% block title %}SFMR Collections{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SMFR</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/list"><span class="fas fa-list"></span> List All Collections</a></li>
        <li><a href="/running"><span class="fas fa-play-circle"></span> List Active collections</a></li>
        <li><a href="/stopped"><span class="fas fa-stop-circle"></span> List Inactive collections</a></li>
        <li><a href="/new"><span class="fas fa-search-plus"></span> Add a Collection</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="fas fas-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="fas fas-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div role="alert" class="alert alertalert-dismissible alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts%}
    {{ super() }}
    <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
{#    <script src="/static/hljs/highlight.pack.js"></script>#}
    <script type="text/javascript" src="/static/js/prettyjson.js"></script>
    <script>
    $(document).ready(function() {
	    // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
    })
     </script>
{% endblock %}