{% extends "bootstrap/base.html" %}
{% block title %}SFMR Collections{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SMFR</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/list"><span class="glyphicon glyphicon-list"></span> List All Collections</a></li>
        <li><a href="/running"><span class="glyphicon glyphicon-play-circle"></span> List Active collections</a></li>
        <li><a href="/stopped"><span class="glyphicon glyphicon-stop"></span> List Inactive collections</a></li>
        <li><a href="/new"><span class="glyphicon glyphicon-plus-sign"></span> Add a Collection</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div role="alert" class="alert alertalert-dismissible alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts%}
    {{ super() }}
    <script>
    $(document).ready(function() {
	    // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
    })
     </script>
{% endblock %}