{% extends "base.html" %}

{% block title %}Collection dashboard{% endblock %}
{% block app_content %}
  <article class="wrapper">
	    <section class="main">
	        <section>
	           <section class="fade in content" id="dashboard">

	                <div class="row">

                        <div class="col-xs-12 col-sm-9">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
	                               Collection details
	                           </div>
	                           <div class="panel-body">
                                   <table class="table">
                                       <tbody>
                                       <tr>
                                           <th>Collection Id</th>
                                           <td>{{ data.collection.id }}</td>
                                           <th>Trigger</th>
                                           <td>{{ data.collection.trigger }}</td>
                                       </tr>
                                       {% if data.collection.tracking_keywords %}
                                       <tr>
                                           <th colspan="2">Keywords</th>
                                           <td colspan="2">{{ data.collection.tracking_keywords|join(', ') }}</td>
                                       </tr>
                                       {% endif %}
                                       {% if data.collection.locations %}
                                       <tr>
                                           <th colspan="2">Bounding boxes</th>
                                           <td colspan="2"><a href="{{ data.collection.bboxfinder }}" target="_blank">{{ data.collection.locations }}</a></td>
                                       </tr>
                                       {% endif %}
                                       <tr>
                                           <th>Status</th>
                                           <td>{{ data.collection.status }}</td>
                                           <th>Languages</th>
                                           <td>{{ data.collection.languages|join(', ') }}
                                           </td>
                                       </tr>
                                       <tr>
                                           <th>Last started</th>
                                           <td>{{ data.collection.started_at|datetimeformat('%Y-%m-%d %H:%M:%S') }}</td>
                                           <th>Last stopped</th>
                                           <td>{{ data.collection.stopped_at|datetimeformat('%Y-%m-%d %H:%M:%S') }}</td>
                                       </tr>
                                       {% if data.collection.runtime %}
                                       <tr>
                                           <th colspan="2">Run until</th>
                                           <td colspan="2">{{ data.collection.runtime|datetimeformat('%Y-%m-%d %H:%M:%S') }}</td>
                                       </tr>
                                       {% endif %}
                                       {% if data.collection.nuts2 %}
                                       <tr>
                                           <th>NUTS3</th>
                                           <td>{{ data.collection.nuts2 }}</td>
                                           <th>NUTS3 Source</th>
                                           <td>{{ data.collection.nuts2source or '-' }}</td>
                                       </tr>
                                       {% endif %}
                                          </tbody>
                                   </table>

	                           </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   Statistics
                               </div>
                               <div class="panel-body">
                               {% if data.aggregation.data %}
                                    <table class="table">
                                       <tbody>
                                       <tr>
                                           <th colspan="2">First tweet</th>
                                           <td colspan="2">{{ data.aggregation.timestamp_start|datetimeformat('%Y-%m-%d %H:%M') }}</td>
                                           <th colspan="2">Last tweet</th>
                                           <td colspan="2">{{ data.aggregation.timestamp_end|datetimeformat('%Y-%m-%d %H:%M') }}</td>
                                       </tr>
                                       {% for item in data.aggregation.data|dictsort(true,'value', reverse=true) %}
                                        <tr>
                                            <th colspan="4">{{ item.0 }}</th><td colspan="4">{{ item.1 }}</td>
                                        </tr>
                                        {% endfor %}
                                       </tbody>
                                    </table>
                               {% else %}
                                   There are no data yet
                               {% endif %}
                               </div>
                           </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">

	                       <div class="panel panel-default">

                               <div class="panel-heading">
                                   <h4>Manage</h4>
	                           </div>
	                           <div class="panel-body">
                                   <div class="btn-group btn-group-justified" role="group">
                                       <div class="btn-group">
                                        <a {% if data.collection.status == 'Active'%} class="btn btn-sm btn-default disabled" {% else %} class="btn btn-sm btn-default" {% endif %} href="/start/{{ data.collection.id }}"><em class="fas fa-play"></em></a>
                                       </div>
                                       <div class="btn-group">
                                        <a {% if data.collection.status == 'Inactive'%} class="btn btn-sm btn-default disabled" {% else %} class="btn btn-sm btn-default" {% endif %} href="/stop/{{ data.collection.id }}"><em class="fas fa-stop"></em></a>
                                       </div>
                                       <div class="btn-group">
                                        <a class="btn btn-sm btn-danger" href="/remove/{{ data.collection.id }}"><em class="fas fa-trash"></em></a>
                                       </div>
                                       <div class="btn-group">
                                        <a class="btn btn-sm btn-default" href="/export/{{ data.collection.id }}">
                                            <em class="fas fa-download"></em>
                                        </a>
                                       </div>
                                   </div>
                               </div>
	                       </div>

	                        <div class="panel panel-default">

                               <div class="panel-heading">
                                   <h4>Geocoding</h4>
	                           </div>
	                           <div class="panel-body">
                                   <div class="btn-group btn-group-justified" role="group">
                                       <div class="btn-group">
                                           {% set test = data.collection.id in data.running_geotaggers %}
                                            <a {% if test %}title="Geotagging is currently running for this collection" class="btn btn-default disabled"{% else %} title="Start geotagging for annotated tweets in this collection" class="btn btn-default"{% endif %}
                                               href="/geolocalize/{{ data.collection.id }}"><em class="fas fa-globe"></em> Start Geocoding</a>
                                       </div>
                                   </div>
                               </div>
	                       </div>

                           <div class="panel panel-default">

                               <div class="panel-heading">
                                   <h4>Annotation</h4>
	                           </div>
	                           <div class="panel-body">
                                   <form>
                                       <div class="form-group">
                                            <label for="annotation_select">
                                            <select id ="annotation_select" class="form-control">
                                              <option value="-" selected>Choose the language</option>
                                               {% for l in data.annotation_models %}
                                                   {% if not (data.collection.languages and data.collection.languages != ['-'] and l not in data.collection.languages)  %}
                                                   <option value="{{ l }}" {% if test %}class="disabled"{% endif %}>{{ l }}</option>
                                                   {% endif %}
                                               {% endfor %}
                                            </select>
                                            </label>

                                        </div>
                                   </form>
                               <a id="annotate_button" title="Start classification for this collection" class="btn btn-default disabled" href="javascript: void(0);">
                                            <em class="fas fa-tasks"></em> Start annotation
                                            </a>
                               </div>
	                       </div>

	                   </div>

                       <!-- TABLES WITH SAMPLED TWEETS -->


                       <div class="col-xs-12 col-sm-12">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
                                   <h4>Collected Tweets (samples)</h4>
	                           </div>

                               <div class="panel-body">
                                    <table class="table table-hover display" id="tabletweets">

                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Tweeted at</th>
                                                <th>Collected at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Tweeted at</th>
                                                <th>Collected at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                            </tr>
                                        </tfoot>

                                    </table>

	                           </div>
	                       </div>
	                   </div>

                       <div class="col-xs-12 col-sm-12">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
                                   <h4>Annotated Tweets (samples)</h4>
	                           </div>

                               <div class="panel-body">
                                    <table class="table table-hover display" id="tabletweetsannotated">

                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Annotations</th>
                                                <th>Tweeted at</th>
                                                <th>Collected at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Annotations</th>
                                                <th>Tweeted at</th>
                                                <th>Collected at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                            </tr>
                                        </tfoot>

                                    </table>

	                           </div>
	                       </div>
	                    </div>

                        <div class="col-xs-12 col-sm-12">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
                                   <h4>Geotagged Tweets (samples)</h4>
	                           </div>

                               <div class="panel-body">
                                    <table class="table table-hover display" id="tabletweetsgeotagged">

                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Annotations</th>
                                                <th>Lat/Lon</th>
                                                <th>Tweeted at</th>
                                                <th>Collected at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Annotations</th>
                                                <th>Lat/Lon</th>
                                                <th>Tweeted at</th>
                                                <th>Collected at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                            </tr>
                                        </tfoot>

                                    </table>

	                           </div>
	                       </div>
	                   </div>

	               </div>
	           </section>
	        </section>
	    </section>
	</article>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var sel = document.getElementById('annotation_select');
        var btn = $("#annotate_button");
        sel.onchange = function () {
            var selected = this.value;

            if (selected === '-') {
                btn.attr("href", "javascript: void(0)");
                btn.addClass("disabled");
            } else {
                btn.removeClass("disabled");
                btn.attr("href", "/annotate/{{ data.collection.id }}/" + selected);
            }
        };
        function format (d, inc) {
            // `d` is the original data object for the row

            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;"><tr><td>'+
                '<pre id="jsonout_' + (d.rownum + inc) + '"></pre></div>'+
                '</td></tr></table>';
        }


        $(document).ready(function() {
            var dataSet = {{ data.datatable | safe }};

            var table = $('#tabletweets').DataTable( {
                "data": dataSet,
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "rownum", "orderable": false },
                    { "data": "Tweet id" },
                    { "data": "Tweeted at" },
                    { "data": "Collected at" },
                    { "data": "Lang" },
                    { "data": "Full Text", "orderable": false}
                ],
                "order": [[1, 'asc']]
            } );

            // Add event listener for opening and closing details
            $('#tabletweets tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    var d = row.data();
                    row.child( format(d, 0) ).show();
                    tr.addClass('shown');
                    var obj = d.original_tweet;
                    output("#jsonout_" + d.rownum, syntaxHighlight(obj));
                }
            } );


            var dataSetAnnotated = {{ data.datatableannotated | safe }};
            var tableAnnotated = $('#tabletweetsannotated').DataTable( {
                "data": dataSetAnnotated,
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "rownum", "orderable": false },
                    { "data": "Tweet id" },
                    { "data": "Annotations" },
                    { "data": "Tweeted at" },
                    { "data": "Collected at" },
                    { "data": "Lang" },
                    { "data": "Full Text", "orderable": false}
                ],
                "order": [[1, 'asc']]
            } );

            // Add event listener for opening and closing details
            $('#tabletweetsannotated tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tableAnnotated.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    var d = row.data();
                    row.child( format(d, 10000) ).show();
                    tr.addClass('shown');
                    var obj = d.original_tweet;
                    output("#jsonout_" + (d.rownum + 10000), syntaxHighlight(obj));
                }
            } );


            var dataSetGeotagged = {{ data.datatablegeotagged | safe }};
            var tableGeotagged = $('#tabletweetsgeotagged').DataTable( {
                "data": dataSetGeotagged,
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "rownum", "orderable": false },
                    { "data": "Tweet id" },
                    { "data": "Annotations" },
                    { "data": "LatLon" },
                    { "data": "Tweeted at" },
                    { "data": "Collected at" },
                    { "data": "Lang" },
                    { "data": "Full Text", "orderable": false}
                ],
                "order": [[1, 'asc']]
            } );

            // Add event listener for opening and closing details
            $('#tabletweetsgeotagged tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tableGeotagged.row( tr );

                if ( row.child.isShown() ) {
                    // This row is open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    var d = row.data();
                    row.child( format(d, 20000) ).show();
                    tr.addClass('shown');
                    var obj = d.original_tweet;
                    output("#jsonout_" + (d.rownum + 20000), syntaxHighlight(obj));
                }
            } );

        } );
    </script>
{% endblock %}