{% extends "base.html" %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>

{% endblock %}

{% block title %}Collection dashboard{% endblock %}
{% block app_content %}
  <article class="wrapper">
	    <section class="main">
	        <section>
	           <section class="fade in content" id="dashboard">

	                <div class="row">

                        {# Main column #}
                        <div class="col-xs-12 col-sm-9">
	                       <div class="panel panel-info">
	                           <div class="panel-heading">
	                               Collection details
	                           </div>
	                           <div class="panel-body">
                                   <table class="table">
                                       <tbody>
                                       <tr>
                                           <th>Collection Id</th>
                                           <td>{{ data.collection.id }}</td>
                                           <th>Status</th>
                                           <td>{{ data.collection.status }}</td>
                                           <th>Trigger</th>
                                           <td>{{ data.collection.trigger }}</td>
                                           <th>Forecast date id</th>
                                           <td>{{ data.collection.forecast_id or '' }}</td>
                                       </tr>

                                       {% if data.collection.tracking_keywords %}
                                       <tr>

                                           <td colspan="8">
                                               <div class="panel-group">
                                               <div class="panel panel-default">
                                                   <div class="panel-heading">
                                                       Keywords
                                                       <button id="collapsekeywords" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#collapse1">[+]</button>
                                                   </div>
                                                    <div id="collapse1" class="panel-collapse collapse">
                                                        <div class="panel-body">{{ data.collection.tracking_keywords|join(', ') }}</div>
                                                    </div>
                                               </div>
                                               </div>
                                           </td>
                                       </tr>
                                       {% endif %}

                                       {% if data.collection.locations %}
                                       <tr>
                                           <th colspan="2">Bounding box</th>
                                           <td colspan="2"><a href="{{ data.collection.bboxfinder }}" target="_blank">
                                               {{ data.collection.bounding_box }}
                                               </a>
                                           </td>
                                           <th colspan="2">Centroid</th>
                                           <td colspan="2"><a href="https://www.openstreetmap.org/#map=13/{{ data.collection.centroid.0 }}/{{ data.collection.centroid.1 }}" target="_blank">Lat: {{ data.collection.centroid.0 }} Lon: {{ data.collection.centroid.1 }}</td>
                                       </tr>
                                       {% endif %}
                                       <tr>
                                           <th>Languages</th>
                                           <td>{{ data.collection.languages|join(', ') }}</td>
                                           <th>Last started (UTC)</th>
                                           <td>{{ data.collection.started_at|datetimeformat('%Y-%m-%d %H:%M:%S') }}</td>
                                           <th>Last stopped (UTC)</th>
                                           <td>{{ data.collection.stopped_at|datetimeformat('%Y-%m-%d %H:%M:%S') }}</td>
                                           <th>Pipeline activated</th>
                                           <td>{% if data.collection.is_using_pipeline %} YES {% else %} NO {% endif %}</td>
                                       </tr>

                                       {% if data.collection.runtime %}
                                       <tr>
                                           <th colspan="4">Run until (local time)</th>
                                           <td colspan="4">{{ data.collection.runtime|datetimeformat('%Y-%m-%d %H:%M') }}</td>
                                       </tr>
                                       {% endif %}

                                       {% if data.collection.efas_id and data.collection.nuts2 %}
                                       <tr>
                                           <th>EFAS ID/NUTS ID</th>
                                           <td>
                                               {{ data.collection.efas_id }}
                                               {% if data.collection.nuts2.nuts_id %}
                                                   / {{ data.collection.nuts2.nuts_id }}
                                               {% endif %}
                                           </td>
                                           <th>EFAS Name</th>
                                           <td>{{ data.collection.efas_name }}</td>
                                           <th>Country</th>
                                           <td>{{ data.collection.efas_country }}</td>
                                           <th>Country Codes</th>
                                           <td>{{ data.collection.nuts2.country_code }}, {{ data.collection.nuts2.country_code3}}</td>
                                       </tr>
                                       {% endif %}

                                       </tbody>
                                   </table>

	                           </div>
                           </div>
                           <div class="panel panel-info">
                               <div class="panel-heading">
                                   Statistics
                                   <button id="collapsestats" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#collapse2">[+]</button>
                               </div>
                               <div id="collapse2" class="panel-collapse collapse">
                                   <div class="panel-body">
                                   {% if data.aggregation.data %}
                                        <table class="table">
                                           <tbody>
                                           <tr>
                                               <th colspan="2">First tweet</th>
                                               <td colspan="2">{{ data.aggregation.timestamp_start|datetimeformat('%Y-%m-%d %H:%M') }}</td>
                                               <th colspan="2">Last tweet</th>
                                               <td colspan="2">{{ data.aggregation.timestamp_end|datetimeformat('%Y-%m-%d %H:%M') }}</td>
                                           </tr>
                                           {% for item in data.aggregation.data|dictsort(true,'value', reverse=true) %}
                                            <tr>
                                                <th colspan="4">{{ item.0 }}</th><td colspan="4">{{ item.1 }}</td>
                                            </tr>
                                            {% endfor %}
                                           </tbody>
                                        </table>
                                   {% else %}
                                       There are no data yet
                                   {% endif %}
                                   </div>
                               </div>
                           </div>
                        </div>

                        {# Right column #}
                        <div class="col-xs-6 col-sm-3">

	                       <div class="panel panel-primary">
                               <div class="panel-heading">
                                   <h4>Actions</h4>
	                           </div>
	                           <div class="panel-body">
                                   <div class="btn-group btn-group-justified" role="group">
                                       <div class="btn-group">
                                        <a {% if data.collection.status == 'Running'%} class="btn btn-sm btn-default disabled" {% else %} class="btn btn-sm btn-default" {% endif %} href="/start/{{ data.collection.id }}"><em class="fas fa-play"></em></a>
                                       </div>
                                       <div class="btn-group">
                                        <a {% if data.collection.status == 'Stopped'%} class="btn btn-sm btn-default disabled" {% else %} class="btn btn-sm btn-default" {% endif %} href="/stop/{{ data.collection.id }}"><em class="fas fa-stop"></em></a>
                                       </div>
                                       <div class="btn-group">
                                        <a class="btn btn-sm btn-danger" href="/remove/{{ data.collection.id }}"><em class="fas fa-trash"></em></a>
                                       </div>
                                       <div class="btn-group">
                                        <a class="btn btn-sm btn-default" href="/export/{{ data.collection.id }}">
                                            <em class="fas fa-download"></em>
                                        </a>
                                       </div>
                                   </div>
                               </div>
	                       </div>

	                        <div class="panel panel-primary">

                               <div class="panel-heading">
                                   <h4>Classification</h4>
	                           </div>
	                           <div class="panel-body">

                                   <div class="btn-group btn-group-justified" role="group">
                                       <div class="btn-group">
                                           {% set test = data.collection.id in data.running_annotators %}
                                           {% if test %}
                                            <a title="Stop annotation for this collection" class="btn btn-danger"
                                               href="/annotate/{{ data.collection.id }}/stop">
                                                <em class="fas fa-tasks"></em> Stop Annotation
                                            </a>
                                           {% elif data.collection.is_using_pipeline %}
                                            <a title="Pipeline is active for this collection" class="btn btn-default disabled" href="#">
                                                <em class="fas fa-tasks"></em> Annotating with pipeline
                                            </a>
                                           {% else %}
                                            <a  title="Start annotating for this collection" class="btn btn-default"
                                               href="/annotate/{{ data.collection.id }}/start">
                                                <em class="fas fa-tasks color-blu"></em> Start Annotation
                                            </a>
                                           {% endif %}
                                       </div>
                                   </div>

                                   <hr />
                                   <div class="btn-group btn-group-justified" role="group">
                                       <div class="btn-group">
                                           {% set test = data.collection.id in data.running_geotaggers %}
                                           {% if test %}
                                            <a title="Stop geocoding for this collection" class="btn btn-danger"
                                               href="/geolocalize/{{ data.collection.id }}/stop">
                                                <em class="fas fa-globe"></em> Stop Geocoding
                                            </a>
                                           {% elif data.collection.is_using_pipeline %}
                                            <a title="Pipeline is active for this collection" class="btn btn-default disabled" href="#">
                                                   <em class="fas fa-globe"></em> Geocoding with pipeline
                                            </a>
                                           {% else %}
                                            <a title="Start geocoding annotated tweets for this collection" class="btn btn-default"
                                               href="/geolocalize/{{ data.collection.id }}/start">
                                                <em class="fas fa-globe color-blu"></em> Start Geocoding
                                            </a>
                                           {% endif %}
                                       </div>
                                   </div>
                               </div>
	                       </div>

	                   </div>


                        <div class="col-xs-12 col-sm-12">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
                                   <h4>Relevant Tweets</h4>
	                           </div>

                               <div class="panel-body">
                                    <table class="table table-hover display" id="tabletweetsrelevant">

                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Tweeted at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                                <th>Annotations</th>
                                                <th>Geo</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Tweet id</th>
                                                <th>Tweeted at</th>
                                                <th>Lang</th>
                                                <th>Full text</th>
                                                <th>Annotations</th>
                                                <th>Geo</th>
                                            </tr>
                                        </tfoot>

                                    </table>

	                           </div>
	                       </div>
	                   </div>
                       <div class="col-xs-12 col-sm-12">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
                                   <h4>Relevant Tweets</h4>
	                           </div>

                               <div class="panel-body">
                                <div id="relevant_tweets_map"></div>
                               </div>
                           </div>
                       </div>
	               </div>
	           </section>
	        </section>
	    </section>
	</article>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script>
        $('#collapsekeywords').click(function(){
            $(this).text(function(i, old){
                return old==='[+]' ?  '[-]' : '[+]';
            });
        });
        $('#collapsestats').click(function(){
            $(this).text(function(i, old){
                return old==='[+]' ?  '[-]' : '[+]';
            });
        });
        function format (d, inc) {
            // `d` is the original data object for the row

            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;"><tr><td>'+
                '<pre id="jsonout_' + (d.rownum + inc) + '"></pre></div>'+
                '</td></tr></table>';
        }


        $(document).ready(function() {

            var dataSet = {{ data.datatable | safe }};

            var clat = {{ data.collection.centroid.0 }};
            var clon = {{ data.collection.centroid.1 }};
            var relevant_tweets_map = L.map('relevant_tweets_map').setView([clat, clon], 6);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZG9tZW5pY28tbmFwcG8iLCJhIjoiY2ptdnowNTQzMGMzeDNxbmtyeHlva2JuNiJ9.VI1pXr3ZUdnN31NwbUgIEw', {
		        maxZoom: 18,
		        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			                 '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			                 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		        id: 'mapbox.streets'
	        }).addTo(relevant_tweets_map);

            var markers = L.markerClusterGroup({
                spiderfyOnMaxZoom: true,
                showCoverageOnHover: true,
                zoomToBoundsOnClick: true
            });
            $.each(dataSet, function(index, tweet) {
                var tweet_lat = tweet['raw_coords'][0];
                var tweet_lon = tweet['raw_coords'][1];
                var tweet_text = tweet['Full Text'];
                var marker = L.marker([tweet_lat, tweet_lon]);
                marker.bindPopup(tweet_text);
                markers.addLayer(marker);
            });
            relevant_tweets_map.addLayer(markers);


            var table = $('#tabletweetsrelevant').DataTable( {
                "data": dataSet,
                "columns": [
                    {"className": 'details-control', "orderable": false,
                     "data": null, "width": "5%", "defaultContent": ""},
                    {"data": "rownum", "width": "5%", "orderable": false },
                    {"data": "Tweet id", "width": "10%" },
                    {"data": "Tweeted at", "width": "15%" },
                    {"data": "Lang", "width": "5%" },
                    {"data": "Full Text", "width": "20%", "orderable": false},
                    {"data": "Annotations", "width": "20%", "orderable": false },
                    {"data": "Geo", "width": "20%", "orderable": false }
                ],
                "order": [[1, 'asc']]
            } );

            // Add event listener for opening and closing details
            $('#tabletweetsrelevant tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    var d = row.data();
                    row.child( format(d, 0) ).show();
                    tr.addClass('shown');
                    var obj = d.original_tweet;
                    output("#jsonout_" + d.rownum, syntaxHighlight(obj));
                }
            } );

        } );
    </script>
{% endblock scripts %}
