{% extends "base.html" %}

{% block title %}Export tweets{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-timepicker-addon.css">
{% endblock styles %}

{% block scripts %}
    {{ super() }}
	<script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
	<script>
	    $(function() {$( ".dtpick" ).datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "HH:mm"});});
	</script>
{% endblock %}

{% block app_content %}
<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">
    {{ form.hidden_tag() }}
    <div class="heading">
        <h4 class="form-heading">Define filters for export</h4>
    </div>
    <div class="form-group {% if form.ttype.errors %} has-error {% endif %}">
        {{form.ttype.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.ttype(class="radio") }}
        </div>
        <p class="col-sm-5 help-block">
        {{ form.ttype.errors[0] }}
    </div>
    <div class="form-group {% if form.from_ts.errors %} has-error {% endif %}">
        {{form.from_ts.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.from_ts(placeholder="2018-01-01 00:00", class="form-control, dtpick") }}
        </div>
        <p class="col-sm-5 help-block">
        {{ form.from_ts.errors[0] }}
    </div>
    <div class="form-group {% if form.to_ts.errors %} has-error {% endif %}">
        {{form.to_ts.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.to_ts(placeholder="2018-01-01 00:00", class="form-control, dtpick") }}
        </div>
        <p class="col-sm-5 help-block">
        {{ form.to_ts.errors[0] }}
    </div>
</form>
{% endblock %}