{% extends "base.html" %}


{% block app_content %}
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                <h3 class="panel-title">List of collections</h3>
              </div>
              <div class="col col-xs-6 text-right">
                <a href="/new" class="btn btn-primary btn-create"><em class="fas fa-plus-circle"></em> Add New Collection</a>
              </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
              <thead>
                <tr>
                    <th>#</th>
                    <th><em class="fa fa-cogs"></em></th>
                    <th>Id</th>
                    <th>Trigger</th>
                    <th>Forecast Id</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Languages</th>
                    <th>Bounding Box</th>
                    <th>Run until (local time)</th>
                    <th>Last started (UTC)</th>
                    <th>Last stopped (UTC)</th>
                </tr>
              </thead>
              <tbody>
              {% for c in collections %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td align="center">
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group">
                                <a title="go to details page" class="btn btn-sm btn-default" href="/details/{{ c.id }}"><em class="fas fa-eye"></em></a>
                            </div>
                            <div class="btn-group">
                                {% if c.status == 'Active'%}
                                <a class="btn btn-sm btn-danger" href="/stop/{{ c.id }}" title="stop collecting"><em class="fas fa-stop"></em></a>
                                {%  else %}
                                <a class="btn btn-sm btn-primary" href="/start/{{ c.id }}" title="start collecting"><em class="fas fa-play"></em></a>
                                {%  endif %}
                            </div>
                        </div>
                    </td>

                    <td>{{c.id}}</td>
                    <td>{{c.trigger}}</td>
                    <td>{{ c.forecast_id or '' }}</td>
                    <td data-toggle="tooltip" data-placement="top" title="{{c.tracking_keywords|join(', ')}}">
                        <u><b>keywords...</b></u>
                    </td>
                    <td>{{c.status}}</td>
                    <td>{{c.languages|join(', ')}}</td>

                    <td>{% if c.locations %}
                        <a href="{{ c.bboxfinder }}" target="_blank">
                        {{ c.bounding_box }}
                        </a>
                    {% endif %}
                    </td>

                    <td> {% if c.runtime %} {{c.runtime|datetimeformat('%Y-%m-%d %H:%M:%S')}} {% endif %}</td>
                    <td>{{c.started_at|datetimeformat('%Y-%m-%d %H:%M:%S')}}</td>
                    <td>{{c.stopped_at|datetimeformat('%Y-%m-%d %H:%M:%S')}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

        </div>

        <div class="panel-footer">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}
