{% extends "base.html" %}


{% block app_content %}
  <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>Id</th><th>Collector Id</th><th>Trigger</th>
              <th>Type</th><th>Status</th>
              <th>Keywords</th><th>Languages</th><th>Locations</th>
              <th>Stop at (local time)</th><th>Started at (UTC)</th><th>Stopped at (UTC)</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for c in collectors %}
          <tr>
              <td>{{c.collection.id}}</td><td>{{c.id}}</td><td>{{c.collection.trigger}}</td>
              <td>{{c.collection.ctype}}</td><td>{{c.collection.status}}</td>
              <td>{{c.collection.tracking_keywords}}</td><td>{{c.collection.languages}}</td><td>{{c.collection.locations}}</td>

              <td>{{c.collection.runtime|datetimeformat}}</td>
              <td>{{c.collection.started_at|datetimeformat('%Y-%m-%d %H:%M:%S')}}</td>
              <td>{{c.collection.stopped_at|datetimeformat('%Y-%m-%d %H:%M:%S')}}</td>

              <td class="btn-group btn-group-sm" role="group">
                  <a {% if c.collection.status == 'Active'%} class="btn btn-sm disabled" {% else %} class="btn btn-sm" {% endif %} href="/start/{{ c.id }}"><i class="glyphicon glyphicon-play"></i> Start</a>
                  <a {% if c.collection.status == 'Inactive'%} class="btn btn-sm disabled" {% else %} class="btn btn-sm" {% endif %} href="/stop/{{ c.id }}"><i class="glyphicon glyphicon-stop"></i> Stop</a>
                  <a class="btn btn-sm" href="/remove/{{ c.collection.id }}"><i class="glyphicon glyphicon-remove-circle"></i> Drop</a>
              </td>
          </tr>
        {% endfor %}
      <tr>
          <td colspan="11">&nbsp;</td>
          <td class="btn-group btn-group-sm" role="group">
              <a class="btn btn-sm" href="/startall">
                  <i class="glyphicon glyphicon-play"></i>
                  Start all not running collections
              </a>
              <a class="btn btn-sm" href="/stopall">
                  <i class="glyphicon glyphicon-stop"></i>
                  Stop all running collections
              </a>
          </td>
      </tr>
      </tbody>
  </table>
{% endblock %}