{% extends "base.html" %}

{% block title %}Add a new collection manually{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-timepicker-addon.css">
{% endblock styles %}

{% block scripts %}
    {{ super() }}
	<script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
	<script>
	    $(function() {$( ".dtpick" ).datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "HH:mm"});});
	</script>
    <script>document.getElementById("tzclient").value = moment().format("Z");</script>
{% endblock %}

{% block app_content %}
<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">
    {{ form.hidden_tag() }}
    <div class="heading">
        <h2 class="form-heading">Create a new SMFR Collection manually</h2>
    </div>
    <fieldset>
      <legend>Collection Type</legend>
        <div class="form-group {% if form.trigger.errors %} has-error {% endif %}">
            {{form.trigger.label(class="col-sm-4")}}
            <div class="col-sm-3">
            {{ form.trigger(class="radio") }}
            </div>
            <p class="col-sm-5 help-block">{{ form.trigger.errors[0] }}</p>

        </div>
        <legend>Set pipeline for annotating and geocoding tweets as they are collected</legend>
        <div class="form-group {% if form.use_pipeline.errors %} has-error {% endif %}">
            {{form.use_pipeline.label(class="col-sm-4")}}
            <div class="col-sm-3">
            {{ form.use_pipeline(class="radio") }}
            </div>
            <p class="col-sm-5 help-block">{{ form.use_pipeline.errors[0] }}</p>

        </div>
    </fieldset>
    <fieldset>
        <legend>{{ form.configuration.label.text }}</legend>
    {% for field in form.configuration %}
    <div class="form-group {% if field.errors %} has-error {% endif %}">
        {{field.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ field(class="form-control") }}
        </div>
        <p class="col-sm-5 help-block">{{ field.errors[0] }}</p>
    </div>
    {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Keywords</legend>
        <div class="form-group {% if form.keywords.errors %} has-error {% endif %}">
            {{form.keywords.label(class="col-sm-4")}}
            Eg: <em>it: inondazione,...,inondato</em> or <em>flood,...,inundated</em> if language is not specified.
            Max 400 keywords.
            <div class="col-sm-3">
            {{ form.keywords(class="form-control") }}
            </div>
            <p class="col-sm-5 help-block">{{ form.keywords.errors[0] }}</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>Languages (use this fields if you didn't provide keywords in the previous field
            or if you provided keywords in the simple form  of a list of keywords (so without specifying languages)
        </legend>
        <div class="form-group {% if form.languages.errors %} has-error {% endif %}">
            {{form.languages.label(class="col-sm-4")}}
            Eg: <em>ro,sr,hr</em>
            Max 400 keywords.
            <div class="col-sm-3">
            {{ form.languages(class="form-control") }}
            </div>
            <p class="col-sm-5 help-block">{{ form.languages.errors[0] }}</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ form.bounding_box.label.text }}</legend>
    {% for field in form.bounding_box %}
    <div class="form-group {% if field.errors %} has-error {% endif %}">
        {{field.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ field(class="form-control") }}
        </div>
        <p class="col-sm-5 help-block">{{ field.errors[0] }}</p>
    </div>
    {% endfor %}
    </fieldset>

    <fieldset><legend>Forecast related parameters</legend>
    <div class="form-group {% if form.forecast_id.errors %} has-error {% endif %}">
        {{form.forecast_id.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.forecast_id(placeholder="201802201200", class="form-control") }}
        </div>
        <p class="col-sm-5 help-block">{{ form.forecast_id.errors[0] }}</p>
    </div>

    <div class="form-group {% if form.runtime.errors %} has-error {% endif %}">
        {{form.runtime.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.runtime(placeholder="2018-03-14 00:00", class="form-control, dtpick") }}
        </div>
        <p class="col-sm-5 help-block">{{ form.runtime.errors[0] }}</p>
    </div>

    <div class="form-group {% if form.nuts2.errors %} has-error {% endif %}">
        {{form.nuts2.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.nuts2(placeholder="ITF4", class="form-control") }}
        </div>
        <p class="col-sm-5 help-block">{{ form.nuts2.errors[0] }}</p>
    </div>
    </fieldset>

    <button class="col-sm-offset-4 btn btn-lg btn-primary" type="submit">Add new collection</button>
    <br /><br />
    <hr />
</form>
    {{ super() }}
{% endblock app_content %}
