{% extends "base.html" %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="/static/css/leaflet.extra-markers.min.css">
{% endblock %}

{% block app_content %}
<div class="row">

    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heatmap</th>
                    <th>Tweets</th>
                    <th>Incidents</th>
                </tr>
            </thead>

            <tbody>
            {%  if files %}
              {% for f_hm, f_tw, f_in in files %}
                    <tr>
                        <td>{{ f_hm.date }}</td>
                        <td><a href="/products?date={{ f_hm.date }}&type=heatmaps">{{ f_hm.name }}</a></td>
                        <td><a href="/products?date={{ f_tw.date }}&type=tweets">{{ f_tw.name }}</a></td>
                        <td><a href="/products?date={{ f_in.date }}&type=incidents">{{ f_in.name }}</a></td>
                    </tr>
              {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

    <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <h3 class="panel-title">MAP</h3>
            </div>
            <div class="panel-body">
                <div id="product_map"></div>
            </div>
        </div>
    </div>
</div>

        <div class="row"><div class="col-lg-12">
            <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <h3 class="panel-title">Geojson debug panel</h3>
            </div>
            <div class="panel-body" id="product_content">
            </div>
        </div>
        </div></div>
{{ super() }}
{% endblock app_content %}


{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="/static/js/leaflet.extra-markers.min.js"></script>
    <script>
        function makeTableFromDict(counters) {

            var table = document.createElement("table");
            table.style.border = "solid #CCCCCC";
            //Add a header
            var header = document.createElement("tr");

            var idHeaderCell = document.createElement("th");
            var nameHeaderCell = document.createElement("th");
            var relevanceHeaderCell = document.createElement("th");

            header.appendChild(idHeaderCell);
            header.appendChild(nameHeaderCell);
            header.appendChild(relevanceHeaderCell);

            table.appendChild(header);

            //Add the rest of the data to the table
            $.each(counters, function(k, v) {
                var tr = document.createElement("tr");

                var idCell = document.createElement("td");
                var nameCell = document.createElement("td");
                var relevanceCell = document.createElement("td");
                idCell.appendChild(document.createTextNode(" - "));
                nameCell.appendChild(document.createTextNode(k));
                relevanceCell.appendChild(document.createTextNode(v));

                tr.appendChild(idCell);
                tr.appendChild(nameCell);
                tr.appendChild(relevanceCell);
                tr.style.background = "#EEEEEE";
                tr.style.border = "solid #EEEEEE";

                table.appendChild(tr);
                }
            );
            return table.outerHTML;

        }

        $(document).ready(function() {

        var clat = 55.0;
        var clon = 15.0;
        var map = L.map('product_map').setView([clat, clon], 4);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZG9tZW5pY28tbmFwcG8iLCJhIjoiY2ptdnowNTQzMGMzeDNxbmtyeHlva2JuNiJ9.VI1pXr3ZUdnN31NwbUgIEw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(map);


        {% if geojson %}
            var cluster_markers = L.markerClusterGroup({
                spiderfyOnMaxZoom: true,
                showCoverageOnHover: true,
                zoomToBoundsOnClick: true,
                chunkedLoading: true
            });
            var content = {{ geojson | tojson }};
            var geojsonmap = L.geoJSON(content, {
                 onEachFeature: onEachFeatureProd,

                 style: function(feature) {
                     if (feature.properties.type === 'heatmap') {
                         switch (feature.properties.smfr_flood_index) {
                             case 'low':
                                 return {color: "#575757", weight: 3, opacity: 0.9, fillColor: "#ababab"};
                             case 'high':
                                 return {color: "#b40000", weight: 5, opacity: 0.9, fillColor: "#ff646e"};
                             case 'medium':
                                 return {color: "#b8711b", weight: 4, opacity: 0.9, fillColor: "#d0af2a"};
                         }
                     }
                 }
            });
            cluster_markers.addLayer(geojsonmap);
            map.addLayer(cluster_markers);

            function onEachFeatureProd(feature, layer) {
                var marker;
                var text;
                switch (feature.properties.type) {
                    case 'heatmap': {
                        {#counters = JSON.stringify(feature.properties.counters);#}
                        text = '<b>Collection ' + feature.properties.collection_id + '</b><br />'
                                + '<b>Risk ' + feature.properties.smfr_flood_index + '</b><br />'
                                + '<b>EFAS Region ' + feature.properties.efas_id + '</b><br />'
                                + '<b>Trigger ' + feature.properties.efas_trigger + '</b><br />'
                                + '<b>EFAS Name ' + feature.properties.efas_name + '</b><br /><br /><hr />'
                                + makeTableFromDict(feature.properties.counters);
                        layer.bindPopup(text);
                    }
                    break;
                    case 'tweet': {
                        text = feature.properties.creation_time + '<br />' + feature.properties.text + '<br />' + feature.properties.prediction;
                        layer.bindPopup(text);
                    }
                    break;
                    case 'incident': {
                        var incidentMarker = L.ExtraMarkers.icon({
                            icon: 'fa-car-crash',
                            markerColor: 'red',
                            shape: 'square',
                            prefix: 'fas'
                        });
                        var incident = feature.properties.incident;
                        var incident_lat = incident['lat'];
                        var incident_lon = incident['lon'];
                        text = incident['text'];
                        marker = L.marker([incident_lat, incident_lon], {icon: incidentMarker});
                        marker.bindPopup(text);
                        cluster_markers.addLayer(marker);
                    }
                    break;
                }
            }

            // geojson output content syntax highlight
            var outj = {{ geojson | safe }};
            output('#product_content',
                syntaxHighlight(JSON.stringify(outj))
            );
        {% endif %}

    });
    </script>
{% endblock scripts %}
